body {
  font-family: 'Raleway', sans-serif;
  color: #422100; /* ROSS IT BROWN */
  background-image: url(../images/hero_bg.png);
  background-size: cover;
  background-attachment: fixed;
}

header {
  padding: 1rem;
  background-color: rgb(244, 244, 244);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

header .wrapper {
  display: flex;
  gap: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  /* max-width: 250px; */
  width: 25%;
}

.logo img {
  width: 100%;
}

header .middle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: right;
  justify-content: space-between;
}

nav {
}

header .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 25%;
}

.phone {
  font-size: 35px;
  line-height: normal;
  font-weight: 700;
  text-decoration: none;
  color: #422100;
  margin-top: -1rem;
}

.help-desk-button {
  display: flex;
  align-items: center;
  /* max-width: 200px; */
  border-radius: 10px;
  background-color: #fdb312;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #422100;
  text-decoration: none;
  font-size: 26px;
  box-shadow: 5px 5px 0 rgba(66, 33, 0, 1);
  -webkit-box-shadow: 5px 5px 0 rgba(66, 33, 0, 1);
  -moz-box-shadow: 5px 5px 0 rgba(66, 33, 0, 1);
}

.help-desk-button img {
  /* max-width: 35px; */
}
